[deps]
nim: http://nim-lang.org/download/nim-0.14.2.tar.xz 8f8d38d70ed57164795fc55e19de4c11488fcd31dbe42094e44a92a23e3f5e92
libcommon: https://github.com/networkosnet/libcommon
collections: https://github.com/zielmicha/collections.nim
reactor: https://github.com/zielmicha/reactor.nim
niceconf: https://github.com/networkosnet/niceconf
dbus: https://github.com/zielmicha/nim-dbus

[build]
netd: netd.nim

[nim]
# reactor.nim requires pthreads
threads: "on"

# enable debugging
passC: "-g"
passL: "-g"

verbosity: "0"
hint[ConvFromXtoItselfNotNeeded]: "off"
hint[XDeclaredButNotUsed]: "off"

debugger: "native"

@if release:
  gcc.options.always = "-w -fno-strict-overflow -flto"
  gcc.cpp.options.always = "-w -fno-strict-overflow -flto"
  clang.options.always = "-w -fno-strict-overflow -flto"
  clang.cpp.options.always = "-w -fno-strict-overflow -flto"
  obj_checks: on
  field_checks: on
  bound_checks: on
@end
